{% extends 'base.html' %}

{% block content %}
    <label for="">Please upload csv file</label>

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button>Submit</button>
    </form>
{% endblock %}