{% extends 'base.html' %}
{% block css %}
<link rel="stylesheet" href="jquery.dropdown.css">
<script src="jquery.dropdown.js"></script>
<script src="//code.jquery.com/jquery.min.js"></script>
<script src="js/jquery.validate.js"></script>
    <style>
        .col-sm {
            text-align: center;
        }

        div {
            margin-bottom: 5%;
        }

        .content {
            margin-top: 5%;
            margin-left: 20%;
            border: solid;
            width: 50%;
            text-align: center;
        }

        input[type='file'] {
            margin-left: 14%;
        }

        .btnDiv {
            text-align: center;
        }

        input[type='submit'] {
            width: 20%;
            border-radius: 25px;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="content">
        <form method="POST" id="addTeachers" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="btnDiv">
                <input type="submit" id="submit" value="submit">
            </div>
        </form>
        <div style="float: right;">
            <a href="{% url 'teachers-list' %}">Back</a>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
        $(document).ready(function() {
            $("#addTeachers").validate({
                rules: {
                    id_first_name: "required"
                },
                messages: {
                    id_first_name: {
                        required: "Please enter first name"
                    }
                }
            })
        })
    </script>
{% endblock %}
