{% extends 'base.html' %}
{% block css %}
    <style>
        .content {
            border: 1px solid black;
            width: 40%;
            margin-left: 30%;
            margin-top: 10%;
            padding: 30px;
        }

        .first-part {
            text-align: center;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="content">
        <div style="text-align: center; margin-bottom: 3%; font-size: larger; font-style: initial;">
            <span>Profile</span>
        </div>
        <div>
            <img src="{{ teacher.profile }}" alt="">
        </div>
        <div class="row">
            <div class="col-sm first-part">
                <div>
                    <span>First name</span>
                </div>
                <div>
                    <span>Last name</span>
                </div>
                <div>
                    <span>Email</span>
                </div>
                <div>
                    <span>Phone Number</span>
                </div>
                <div>
                    <span>Room Number</span>
                </div>
                <div>
                    <span>Subjects</span>
                </div>
            </div>
            <div class="col-sm">
                <div>
                    <span>{{ teacher.first_name }}</span>
                </div>
                <div>
                    <span>{{ teacher.last_name }}</span>
                </div>
                <div>
                    <span>{{ teacher.email }}</span>
                </div>
                <div>
                    <span>{{ teacher.phone_number }}</span>
                </div>
                <div>
                    <span>{{ teacher.room_number }}</span>
                </div>
                <div>
                    <span>{{ teacher.subjects }}</span>
                </div>
            </div>
        </div>
        <div style="text-align: center; margin-top: 3%;">
            <a href="{% url 'teachers-list' %}">Back</a>
        </div>
    </div>
{% endblock %}
