{% extends 'base.html' %}
{% block css %}
<link rel="stylesheet" href="jquery.dropdown.css">
<script src="jquery.dropdown.js"></script>
<script src="//code.jquery.com/jquery.min.js"></script>
    <style>
        .col-sm {
            text-align: center;
        }

        div {
            margin-bottom: 5%;
        }

        .content {
            margin-top: 5%;
            margin-left: 10%;
            border: solid;
            width: 70%;
        }

        input[type='file'] {
            margin-left: 14%;
        }

        .btnDiv {
            text-align: center;
            margin-top: -7%;
        }

        input[type='submit'] {
            width: 20%;
            border-radius: 25px;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="content">
        <form action="" method="POST">
            {% csrf_token %}
            <div style="text-align: center; font-size: larger;">
                <span>Edit teachers</span>
            </div>
            <input type="hidden" name="id" id="id" value="{{id}}">
            {{ form.as_p }}
            <!-- <div class="row">
                <div class="col-sm">
                    <div>
                        <input type="text" style="width: 50%;" name="firstName" id="firstName" placeholder="Enter first name">
                    </div>
                    <div>
                        <input type="file" name="profile" id="profile">
                    </div>
                    <div>
                        <input type="number" style="width: 50%;" name="phone" id="phone" placeholder="Enter phone number">
                    </div>
                    <div>
                        <input type="checkbox" id="Physics" name="subject" value="Physics">
                        <label for="Physics">Physics</label>
                        <input type="checkbox" id="Computer_Science" name="subject" value="Computer_Science">
                        <label for="Computer Science">Computer Science</label> <br>
                        <input type="checkbox" id="History" name="subject" value="History">
                        <label for="History">History</label>
                        <input type="checkbox" id="Mathematics" name="subject" value="Mathematics">
                        <label for="Mathematics">Mathematics</label><br>
                        <input type="checkbox" id="Biology" name="subject" value="Biology">
                        <label for="Biology">Biology</label>
                        <input type="checkbox" id="Chemistry" name="subject" value="Chemistry">
                        <label for="Chemistry">Chemistry</label><br>
                        <input type="checkbox" id="English" name="subject" value="English">
                        <label for="English">English</label>
                        <input type="checkbox" id="Arabic" name="subject" value="Arabic">
                        <label for="Arabic">Arabic</label><br>
                        <input type="checkbox" id="Geography" name="subject" value="Geography">
                        <label for="Geography">Geography</label>
                        <span style="color: red;" id="subjectValidation"></span> <br>
                    </div>
                </div>
                <div class="col-sm">
                    <div>
                        <input type="text" style="width: 50%;" name="lastName" id="lastName" placeholder="Enter last name">
                    </div>
                    <div>
                        <input type="email" style="width: 50%;" name="email" id="email" placeholder="Enter email"> <br>
                        <span style="color: red;" id="emailValiation"></span>
                    </div>
                    <div>
                        <input type="number" style="width: 50%;" name="room" id="room" placeholder="Enter room number">
                    </div>
                </div>
            </div> -->
            <div class="btnDiv">
                <input type="submit" id="submit" value="submit">
            </div>
        </form>
        <div style="float: right;">
            <a href="{% url 'teachers-list' %}">Back</a>
        </div>
    </div>
{% endblock %}
