{% extends 'base.html' %}
{% block css %}
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            /* margin-left: 10%;
            margin-top: 10%; */
            width: 80%;
        }
        
        td, th {
            border: 1px solid #9c9b9b;
            text-align: left;
            padding: 8px;
        }
        
        tr:nth-child(even) {
            background-color: #dddddd;
        }

        tr:nth-child(odd) {
            background-color: rgb(233, 230, 230);
        }

        .btn {
            margin-left: 60%;
            width: 10%;
            margin-bottom: 1%;
        }

        .content {
            margin-left: 10%;
            margin-top: 8%;
        }

        #addToPremiumModal {
            background-color: transparent;
        }

        .fa-search {
            float: none;
            display: block;
            text-align: left;
            width: 100%;
            margin: 0;
            padding: 3px;
        }

        #searchText {
            margin-bottom: 1%;
            margin-right: -0.5%;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="content">
        <!-- <div class="top">
            <a href="{% url 'logout' %}"><button>Logout</button></a>
        </div> -->
        <div class="btn">
            <button id="logout">Logout</button>
            <a href="{% url 'teachers-add' %}"><button class="addTeachers">Add Teacher</button></a>
            <a href="{% url 'csv-file-upload' %}"><button class="addTeachers">Import CSV</button></a>
        </div>
        <div>
            <input type="text" placeholder="Search.." id="searchText" name="search">
            <button type="submit"><i class="fa fa-search"></i></button>
        </div>
        <table id="techersTable">
            <thead>
                <tr>
                    <th>Sl.no.</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Subjects</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody id="teacherTableBody">
            </tbody>
        </table>
    </div>

    <div id="teacherDeleteModal" class="modal">
        <div class="modal-dialog" role="document" style="width:1250px;">
            <div class="modal-content">
                <div class="modal-body text-center pd-y-20 pd-x-20">
                    <h4>Are you sure?</h4>
                    <input type="hidden" value="" id="teacherId">
                    <a href="javascript:void(0)" class="btn btn-success tx-11 tx-uppercase pd-y-12 pd-x-25 tx-spacing-2 mg-b-20" data-dismiss="modal" aria-label="Close" onclick="deleteTeacher()">Yes</a>
                    <a href="javascript:void(0)" class="btn btn-danger tx-11 tx-uppercase pd-y-12 pd-x-25 tx-spacing-2 mg-b-20" data-dismiss="modal" aria-label="Close">No</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
        $(document).ready(function() {
            $.ajax({
                url: "{% url 'get-teachers-list' %}",
                headers: { "X-CSRFToken": '{{csrf_token}}' },
                accepts: 'application/json',
                type: "GET",
                success: function(result) {
                    for(var index=0; index<result.length; index++) {
                        var subjects = '';
                        for(var j=0; j<result[index]['subjects'].length; j++) {
                            if(result[index]['subjects'][j] == 1) {
                                subjects += 'Physics, ';
                            } else if(result[index]['subjects'][j] == 2) {
                                subjects += 'Computer Science, ';
                            } else if(result[index]['subjects'][j] == 3) {
                                subjects += 'History, ';
                            } else if(result[index]['subjects'][j] == 4) {
                                subjects += 'Mathematics, ';
                            } else if(result[index]['subjects'][j] == 5) {
                                subjects += 'Biology, ';
                            } else if(result[index]['subjects'][j] == 6) {
                                subjects += 'Chemistry, ';
                            } else if(result[index]['subjects'][j] == 7) {
                                subjects += 'English, ';
                            } else if(result[index]['subjects'][j] == 8) {
                                subjects += 'Arabic, ';
                            } else if(result[index]['subjects'][j] == 9) {
                                subjects += 'Geography, ';
                            }
                        }
                        
                        var sl = index + 1, teachersId=result[index].id;
                        $("#teacherTableBody").append("<tr><td>"+sl+"</td><td><a href=detail-teacher-view/"+ result[index].id +">"+result[index]['first_name']+"</a></td><td>"+result[index]['last_name']+"</td><td>"+result[index]['email']+"</td><td>"+ subjects +"</td><td><a href=edit/"+result[index].id+">edit</a> <a id="+ teachersId +" onclick=deleteTeacherModal("+ teachersId +")>delete</a></td><tr>");
                    }
                }
            })

            $("#logout").click(function(e) {
                e.preventDefault();
                $.ajax({
                    url: "{% url 'logout' %}",
                    headers: { "X-CSRFToken": '{{csrf_token}}' },
                    accepts: 'application/json',
                    type: "POST",
                    success: function(result) {
                        if(result['status'] === true) {
                            window.location.replace("{% url 'login' %}")
                        }
                    }
                })
            })

            $(".fa-search").click(() => {
                $("#teacherTableBody").html('')
                $.ajax({
                    url: "{% url 'get-teachers-list' %}",
                    headers: { "X-CSRFToken": '{{csrf_token}}' },
                    accepts: 'application/json',
                    type: "POST",
                    data: {
                        'search': $('#searchText').val()
                    },
                    success: function(result) {
                        for(var index=0; index<result.length; index++) {
                            var subjects = '';
                            for(var j=0; j<result[index]['subjects'].length; j++) {
                                if(result[index]['subjects'][j] == 1) {
                                    subjects += 'Physics, ';
                                } else if(result[index]['subjects'][j] == 2) {
                                    subjects += 'Computer Science, ';
                                } else if(result[index]['subjects'][j] == 3) {
                                    subjects += 'History, ';
                                } else if(result[index]['subjects'][j] == 4) {
                                    subjects += 'Mathematics, ';
                                } else if(result[index]['subjects'][j] == 5) {
                                    subjects += 'Biology, ';
                                } else if(result[index]['subjects'][j] == 6) {
                                    subjects += 'Chemistry, ';
                                } else if(result[index]['subjects'][j] == 7) {
                                    subjects += 'English, ';
                                } else if(result[index]['subjects'][j] == 8) {
                                    subjects += 'Arabic, ';
                                } else if(result[index]['subjects'][j] == 9) {
                                    subjects += 'Geography, ';
                                }
                            }
                            
                            var sl = index + 1, teachersId=result[index].id;
                            $("#teacherTableBody").append("<tr><td>"+sl+"</td><td><a href=detail-teacher-view/"+ result[index].id +">"+result[index]['first_name']+"</a></td><td>"+result[index]['last_name']+"</td><td>"+result[index]['email']+"</td><td>"+ subjects +"</td><td><a href=edit/"+result[index].id+">edit</a> <a id="+ teachersId +" onclick=deleteTeacherModal("+ teachersId +")>delete</a></td><tr>");
                        }
                    }
                })
            })
        })

        function deleteTeacherModal(id) {
            $("#teacherDeleteModal").modal('show');
            $(".modal-backdrop").remove();
            $("#teacherId").val(id);
        }

        function deleteTeacher() {
            $.ajax({
                url: "{% url 'teacher-delete' %}",
                headers: { "X-CSRFToken": '{{csrf_token}}' },
                accepts: 'application/json',
                data: {
                    "teacherId": $("#teacherId").val()
                },
                type: "POST",
                success: function(result) {
                    if(result['status'] === true) {
                        location.reload();
                    } else {
                        alert("Failed")
                    }
                }
            })
        }
    </script>
{% endblock %}