{% extends 'base.html' %}
{% block css %}
<style>
    .content {
        border: solid;
        width: 25%;
        margin-left: 35%;
        margin-top: 10%;
        padding: 30px;
    }

    input {
        width: 100%;
    }

    .buttonDiv {
        margin-top: 5%;
    }

    input[type=submit] {
        border-radius: 25px;
    }

    #message {
        color: red;
    }
</style>
{% endblock %}

{% block content %}
    <div class="content">
        <form action="">
            {% csrf_token %}
            <div>
                <label id="message"></label>
            </div>
            <div>
                <label for="">Username</label> <br>
                <input type="text" name="username" id="username" placeholder="Enter username">
            </div>
            <div>
                <label for="">Password</label> <br>
                <input type="password" name="password" id="password" placeholder="Enter password">
            </div>
            <div class="buttonDiv">
                <input type="submit" id="submit" value="submit">
            </div>
        </form>
    </div>
{% endblock %}

{% block script %}
    <script>
        $(document).ready(function() {
            $("#submit").click(function(e) {
                e.preventDefault();
                $.ajax({
                    url: "/login-action",
                    headers: { "X-CSRFToken": '{{csrf_token}}' },
                    type: "POST",
                    data: {
                        "username": $("#username").val(),
                        "password": $("#password").val()
                    },
                    success: function(result) {
                        // $("#message").html(result);
                        // alert("Suceess");
                        if(result.status === false) {
                            $("#message").html(result.message);
                        } else {
                            window.location.replace("{% url 'teachers-list' %}")
                        }
                    }
                });
            })
        })
    </script>
{% endblock %}
